.about{
    padding-top: 22rem;
    margin-bottom: 20rem;
}
.kiri {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 2s;
  }
.kanan {
    opacity: 0;
    transform: translate(50px, 0);
    transition: 2s;
  }
.tb {
    opacity: 0;
    transition: 1s;
}
.kiri.muncul,
.kanan.muncul,
.tb.muncul{
  opacity: 1;
  transform: translate(0, 0);
}